<h3>Send transaction</h3>

<select name="" id="" [(ngModel)]="state">
    <option value="Transfer">Transfer</option>
    <option value="TokenAssociate">TokenAssociate</option>
</select>

<div *ngIf="state == 'Transfer'">

    <p>To: {{ data.transfer.toAcc }}</p>

    <p>From:
        <select [(ngModel)]="signingAcct">
            <option *ngFor="let acc of HashconnectService.saveData.pairedAccounts" [value]="acc" [selected]="signingAcct == acc">
                {{acc}}</option>
        </select>
    </p>

    <hr>

    <p>
        <input type="checkbox" name="" id="" [(ngModel)]="data.transfer.include_hbar"> HBAR Transfer
    </p>

    <div *ngIf="data.transfer.include_hbar">
        <p>To HBAR Amount: <input type="number" name="" id="" [(ngModel)]="data.transfer.to_hbar_amount" max="5" min="-5"></p>
        <p>From HBAR Amount: <input type="number" name="" id="" [(ngModel)]="data.transfer.from_hbar_amount" max="5" min="-5"></p>
    </div>
    
    <hr>

    <p>
        <input type="checkbox" name="" id="" [(ngModel)]="data.transfer.include_token"> Token Transfer
    </p>

    <div *ngIf="data.transfer.include_token">
        <div *ngFor="let tokenTrans of data.transfer.tokenTransfers">
            <p>Token ID: <input type="text" name="" id="" [(ngModel)]="tokenTrans.tokenId"></p>
            <p>Token Amount: <input type="number" name="" id="" [(ngModel)]="tokenTrans.amount" max="5" min="-5"></p>
            <p>Account ID: <input type="text" name="" id="" [(ngModel)]="tokenTrans.accountId"></p>
        </div>

        <button class="outline" (click)="addTokenTransfer()">Add Token Transaction</button>
    </div>
    
    <hr>
      
    <p>
        <input type="checkbox" name="" id="" [(ngModel)]="data.transfer.include_nft"> NFT Transfer
    </p>

    <div *ngIf="data.transfer.include_nft">
        <p>todo</p>
    </div>
    
    <hr>

    <p>Memo: <input type="text" [(ngModel)]="memo"></p>

    <button class="primary" (click)="buildTransaction()">Send</button>
</div>

<div *ngIf="state == 'TokenAssociate'">
    <p>
        Token to associate:
        <a href="https://testnet.dragonglass.me/hedera/tokens/0.0.13285356" target="_blank">0.0.13285356</a>
    </p>

    <p>To:
        <select [(ngModel)]="signingAcct">
            <option *ngFor="let acc of HashconnectService.saveData.pairedAccounts" [value]="acc" [selected]="signingAcct == acc">
                {{acc}}</option>
        </select>
    </p>

    <p>Memo: <input type="text" [(ngModel)]="memo"></p>

    <button class="primary" (click)="buildTokenAssociate()">Send</button>
</div>