:host {
    text-align: center;
    .top {
        margin-bottom: 10px;

        img {
            width: 100px;
        }

        font-weight: bold;
    }

    .accountSelect {
        .account {
            display: flex;
        }
    }

    button {
        margin: 0 5px;
        margin-top: 10px;
    }
}