<div>
  <h1>{{title}}</h1>
  <h2>Status: {{status}}</h2>
  <button class="testBtn" (click)="initClient()">Init Client</button>
  <button class="testBtn" (click)="proposePairing()">Propose pairing</button>
  <!-- <button class="testBtn" (click)="sendTest()">Send Test</button> -->
  <!-- <input type="text" [(ngModel)]="message" placeholder="message"/> -->
  <button class="testBtn" (click)="createTrans()">Create basic transaction</button>
</div>
<div>
  <textarea class="testTextArea">{{incomingMessage}}</textarea>
</div>
<router-outlet></router-outlet>