:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;

    .top {
        flex: 0 0 100%;

        .profile {
            display: flex;
            justify-content: center;

            .profile_wrap {
                display: flex;
                border: solid 1px white;
                align-items: center;
            }

            img {
                width: 60px;
                margin-right: 8px;
            }

            .profile__name {
                padding-right: 8px;
            }
        }
    }

    .buttons {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        h3 {
            margin-top: 10px;
            font-weight: bold;
        }

        button {
            margin-bottom: 5px;
        }
    }

    .data {
        text-align: left;
        overflow: auto;
        width: 500px;
        margin-left: 16px;
        margin-top: 20px;
    }
}