<input *ngIf="!pairingData" type="text" [(ngModel)]="pairingString" (ngModelChange)="parsePairingString()" placeholder="Pairing string"/>
<meta charset="utf-8">

<div *ngIf="pairingData">

    <div class="top">
        <img [src]="pairingData.metadata.icon" alt="">
        <p [innerHTML]="pairingData.metadata.url "></p>
    </div>

    <p><span [innerHTML]="pairingData.metadata.name"></span> would like to connect to your {{pairingData.network}} account.</p>

    <p>Please select what accounts you wish to connect with.</p>

    <div class="accountSelect">
        <div class="account" *ngFor="let account of SigningService.accounts">
            <input type="checkbox" (change)="checkbox($event, account.id)">
            <div>
                <p>{{account.name}}</p>
                <p>{{account.id}}</p>
            </div>
        </div>
    </div>

    <button class="primary" (click)="approvePairing()">Approve Pairing</button>
    <button class="primary" (click)="rejectPairing()">Reject Pairing</button>
</div>