<div>
  <h1>{{title}}</h1>
  <h2>Status: {{status}}</h2>
  <button class="testBtn" (click)="initClient()">Init Client</button>
  <input type="text" [(ngModel)]="message" placeholder="topic to subscribe to"/>
</div>
<div>
  <button class="testBtn" (click)="approvePairing()">Approve Pairing</button>
  <button class="testBtn" (click)="rejectPairing()">Reject Pairing</button>
</div>
<div>
  <button class="testBtn" (click)="approveTransaction()">Approve Transaction</button>
</div>
<div>
  <textarea class="testTextArea">{{incomingMessage}}</textarea>
</div>
<router-outlet></router-outlet>